.DS_Store
node_modules/
/dist/
/build/
/config/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
temp.json*
.postcssrc.js*
.editorconfig*
postcssrc *
.babelrc*

package-lock.json*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
