p, span, a, h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}
a:focus { 
    outline: none; 
}
button:focus {outline:0;}
// img main

.header{
    position: relative;
    justify-content: center;
    align-items: center;

    img{
        min-height: 180px;
    }
    .title-header{
        position: absolute;
        color: white;
        z-index: 3;

        .title-logo{
            text-align: center;
            font-family: 'Great Vibes', cursive;

            span{
                font-size: 24px;
            }
        }
    }
    .shadow{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #000000ad;
    }
}

// categories home
.categories-wrapper{
    align-items: center;
    margin: 100px 15%;

    .categories-header{
        font-family: 'Great Vibes', cursive;
        font-size: 46px;
        font-weight: 500;
    }
}
.single-category{
    margin: 10px;
    transition: all ease-in .2s;
    -webkit-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    -ms-transition: all ease-in .2s;
    -o-transition: all ease-in .2s;

    .single-container{
        display: flex;
        position: relative;
        transition: all ease-in .1s;
        
        figure img{
            width: 300px;
            height: 200px;
        } 
        .background{
            position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: #000000a3;
            color: white;
            font-size: 28px;
        }
    }
    .single-container:focus, .single-container:hover >.background{
        display: flex;
    }
}
.single-category:hover{
    -webkit-box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.75);
}


// shop page

.sort-wrapper{
    align-items: center;
    justify-content: center;
    margin: 40px 10px;

    .sort-element{

        label{
            font-size: 18px;
        }

        input, select{
            border: none;
            box-shadow: none;
            margin-top: 5px;
        }
    }
}


//login & register page 

.acount-wrapper{
    align-items: center;

    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px;
    }
    .form{
        width: 100%;
    
        div .form-wrapper{
            flex-direction: column;
            align-items: center;

            div label{
                position: relative;
                
                i{
                    position: absolute;
                    top: 12px;
                    left: 10px;  
                    color: #a6a4a4;
                }
                input{
                    padding-left: 35px;
                    border: none;
                    box-shadow: none;
                    margin-bottom: 30px;
                }
                input:focus{
                    border-bottom: 1px solid #a6a4a4;
                }
            }
            .button{
                width: 180px;
                border-radius: 30px;
                margin-top: 30px;
                margin-bottom: 50px;
            }
        }
    }
}

// product

.single-product{
    margin-top: 70px;

    .product-name{
        font-size: 35px;
        font-weight: 600;
    }
    button{
        width: 180px;
        border-radius: 30px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 600;
        color: white !important;
    }

    .features{
        width: 100%;
        display: flex;
        flex-direction: column;

        .nav{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            
            div{
                width: 50%;
                border-bottom: 1px solid dimgray;
            }
            a{
                //display: flex;
                
                padding: 10px;
            }
            .details-btn{
               
                height: 30px;
            }
            .features-btn{
              
                height: 30px;
            }
            .router-link-exact-active{
       
                border: 1px solid dimgray;
                border-bottom: 1px solid white;
            }
        }

    }
}