p, span, a, h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}
a:focus { 
    outline: none; 
}
button:focus {outline:0;}
// img main

.navigation-wrapper{
    position: relative;
    justify-content: space-between;
    background-color: #ff0000;

    a{
        color: white;
        font-weight: 500;
        font-size: 14px;
    } 
  
    .menu-logo{
        height: 40px;
    }
    .logo-home{
        margin-left: -140px;
    }
    .menu{
        align-items: center;
    }
 
    .content-main{
        min-height: 85vh;
    }
    .btn{
        cursor: pointer;
    }
}

.header{
    position: relative;
    justify-content: center;
    align-items: center;

    img{
        min-height: 180px;
    }
    .title-header{
        position: absolute;
        color: white;
        z-index: 3;

        .title-logo{
            text-align: center;
            font-family: 'Great Vibes', cursive;

            span{
                font-size: 24px;
            }
        }
    }
    .shadow{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #000000ad;
    }
}

// categories home
.categories-wrapper{
    align-items: center;
    margin: 100px 15%;

    .categories-header{
        font-family: 'Great Vibes', cursive;
        font-size: 46px;
        font-weight: 500;
    }
}
.single-category{
    margin: 10px;
    transition: all ease-in .2s;
    -webkit-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    -ms-transition: all ease-in .2s;
    -o-transition: all ease-in .2s;

    .single-container{
        display: flex;
        position: relative;
        transition: all ease-in .1s;
        
        figure img{
            width: 300px;
            height: 200px;
        } 
        .background{
            position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: #000000a3;
            color: white;
            font-size: 28px;
        }
    }
    .single-container:focus, .single-container:hover >.background{
        display: flex;
    }
}
.single-category:hover{
    -webkit-box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.75);
}


// shop page

.sort-wrapper{
    align-items: center;
    justify-content: center;
    margin: 40px 10px;

    .sort-element{

        label{
            font-size: 18px;
        }
        input, select{
            border: none;
            box-shadow: none;
            margin-top: 5px;
        }
    }
}


//login & register page 

.acount-wrapper{
    align-items: center;

    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px;
    }
    .form{
        width: 100%;
    
        div .form-wrapper{
            flex-direction: column;
            align-items: center;

            div label{
                position: relative;
                
                i{
                    position: absolute;
                    top: 12px;
                    left: 10px;  
                    color: #a6a4a4;
                }
                input{
                    padding-left: 35px;
                    border: none;
                    box-shadow: none;
                    margin-bottom: 30px;
                }
                input:focus{
                    border-bottom: 1px solid #a6a4a4;
                }
            }
            .button{
                width: 180px;
                border-radius: 30px;
                margin-top: 30px;
                margin-bottom: 50px;
            }
        }
    }
}

// product

.single-product{
    margin-top: 70px;

    .product-name{
        font-size: 35px;
        font-weight: 600;
    }
    button{
        width: 180px;
        border-radius: 30px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 600;
        color: white !important;
    }
    .features{
        width: 100%;
        display: flex;
        flex-direction: column;

        .nav{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            margin: 50px 0px 50px 0px;
            
            div a{
                color: dimgray;
                font-weight: 500;
                font-size: 24px;
                margin: 0px 30px;
            }
        }
        .detail-view{
            width: 100%;
            margin-top: 0px;

            .details-list{
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }
        .features-view{
            margin: 0px 10%;
        }
    }
}


// buying steps 

.underline{
    border-bottom: 1px solid #cacaca;
}

.cart-first{

    h2{
        margin: 30px 0px;
        font-size: 35px;
    }
    .product-name, .product-quantity, .product-price{
        margin-top: 50px;
        
        .name{
            font-size: 22px;
            font-weight: 500;
        }
        #quantity{
            box-shadow: none;
            border-radius: 10px;
        }
    }
    .cart-main{
        margin-bottom: 25px;

        .main-wrapper{
            margin: 35px 0px;
        }
    }
    .cart-summary{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-top: 25px;

        .summary{

            p{
                font-size: 20px;
                font-weight: 500;

            }
        }
        .button-wrapper{
            margin-top: 20px;
            margin-bottom: 100px;

            button{
                width: 140px;
                border-radius: 25px;
                margin: 0px 25px;
                font-weight: 500;
            }
        }
    }
}

// order checkout

.order-wrapper{

    h2{
        margin: 30px 0px;
        font-size: 35px;
    }
    .single-order-element{
        margin: 25px 0px;

        .medium-4, .medium-3, .medium-1{
            margin-top: 25px;

            button{
                border: 1px solid #a2a2a2;
                border-radius: 24px;
                color: #a2a2a2;
            }
        }
    }
    .cart-summary{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-top: 25px;

        .summary{

            p{
                font-size: 20px;
                font-weight: 500;

            }
        }
        .button-wrapper{
            margin-top: 20px;
            margin-bottom: 100px;

            button{
                width: 140px;
                border-radius: 25px;
                margin: 0px 25px;
                font-weight: 500;
            }
        }
    }
}

// delivery page

.delivery-wrapper{

    .title h2{
        margin: 30px 0px;
        font-size: 35px;     
    }

    form{
        input{
            box-shadow: none;
            border: 1px solid #dbdbdb;
            border-radius: 10px;
        }
    }
    .shipping{
        display: flex;
        flex-direction: column;
        margin: 30px .9375rem; 
    }
    .button-wrapper{
        margin-top: 20px;
        margin-bottom: 100px;

        button{
            width: 160px;
            border-radius: 25px;
            margin: 0px 25px;
            font-weight: 500;
        }
    }
}

// order summary

.order-summary{

    .title h2{
        margin: 30px 0px;
        font-size: 35px;     
    }
    .offset{
        margin-top: 25px;
    }
    .shipping{
        h3{
            margin: 25px 0px;
        }
    }
    .single-order-element{
        margin: 25px 0px;
    }
    .shippind-main, .delivery-main h3{
        margin: 25px 0px;
    }
    .button-wrapper{
        margin-top: 20px;
        margin-bottom: 100px;
        flex-wrap: wrap;

        button{
            width: 160px;
            border-radius: 25px;
            margin: 0px 25px;
            font-weight: 500;
        }
    }
    .summary-alert{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;

        button{
            margin: 50px 0px;
            border-radius: 25px;
        }
    }
} 

// cart

.user-cart{

    .title h2{
        margin: 30px 0px;
        font-size: 35px;     
    }
    .single-order-element{
        margin: 25px;

        .medium-4, .medium-2, .medium-1{
            margin-top: 25px;

            button{
                border: 1px solid #a2a2a2;
                border-radius: 24px;
                color: #a2a2a2;
            }
        }
    }
    .total-price{
        display: flex;
        justify-content: flex-end;
        margin: 30px .9375rem;

        p{
            font-size: 22px;
            font-weight: 500;
            color: #404040;  
        }
    }
    .button-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 20px;
        margin-bottom: 100px;
        flex-wrap: wrap;

        button{
            width: 160px;
            border-radius: 25px;
            margin: 0px 25px;
            font-weight: 500;
        }
    }
}

// user page


.user-panel{

    .title h2{
        margin: 30px 0px;
        font-size: 35px;     
    }

    .link-wrapper{
        margin: 30px 0px;

        a{
            font-size: 24px;
            margin: 10px 25px 10px 0px;
            color: #424141;
        }
        .router-link-exact-active {
            font-size: 24px;
            margin: 10px 30px 10px 0px;
            color: #424141;
            border-bottom: 1px solid #cacaca;
        }
    }
}
.user-panel-profile{

    .title{
        margin: 30px 0px;
        font-size: 35px;  
    }

    .information-wrapper input{
        box-shadow: none;
        border: 1px solid #dbdbdb;
        border-radius: 10px;
    }
    .address{
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .button-wrapper{
        margin-top: 20px;
        margin-bottom: 30px;

        button{
            width: 160px;
            border-radius: 25px;
            margin: 0px 25px;
            font-weight: 500;
        }
    }
}
.user-panel-order-history{

    .single-order-element{
        margin: 25px;

        .medium-3, .medium-2{
            margin-top: 25px;
        }
    }
}


// media queries

@media screen and (max-width: 620px) {

    .navigation-wrapper .menu-logo{
        height: 25px;
    }
    
    .user-nav{
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 38px;
        background-color: #ff0000;
        z-index: 999;
        display: flex;
        justify-content: space-between !important;
    }
}

@media screen and (max-width: 500px) {

    // product mobile query

    .product-wrapper-main .single{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column-reverse;
    }
    .single-product {
        margin-top: 25px;
    }
    .single-product .features .nav div a {
        color: #696969;
        font-weight: 500;
        font-size: 24px;
        margin: 0 14px;
    }
    .grid-x > .small-5, .grid-x > .small-7{
        width: 100%;
        margin-bottom: 30px;
    }
    .is-logged{
        align-items: center;
    }

    .single-category .single-container figure img {
        width: auto;
        height: auto;
    }
    .cart-first .cart-summary .button-wrapper, .order-wrapper .cart-summary .button-wrapper, .delivery-wrapper .button-wrapper{
        margin-bottom: 50px;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;

        button{
            margin: 0px 0px 25px 0px;
        }
    }
}